.login-container {
    display: flex;
    width: calc(100vw - 40px);
    height: 600px;
    margin:0 20px;
    
    
}


.login-container>div:first-child {
    flex: 4;
    background-color: #92C7CF;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    
   

}
.login-container>div:last-child
{
    flex:2;
    /* background-color: #FBF9F1; */
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    
}


::-webkit-scrollbar {
    display: none; 
} 